<div class="container is-widescreen">
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>A Tinderbox of musings</strong> cobbled together by <a href="https://twitter.com/sabronljames">Sabrina Koehler</a> © 2019
      </p>
    </div>
  </footer>
</div>
