{{!< default}}
<main class="container" style="margin-top: 25px;">
  <div class="columns is-multiline">
    {{#foreach posts}}
      <div class="column is-quarter is-centered">
        {{> post_card}}
      </div>
    {{/foreach}}
  </div>
  {{pagination}}
</main>
